@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root {
    /* primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral */
    --Dark-gray: hsl(0, 0%, 59%);

    /* for name and stats */
    --Font-size : 18px;

    --Mobile: 375px;
    --Desktop: 440px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;

    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* position: relative; */
    background: var( --Dark-cyan);

}

.bg-color {
    position: absolute;
    top : 0;
    left: 0;
    height: 100%;
    width : 100%;
    background: 
        url('images/bg-pattern-bottom.svg')120% 140% no-repeat, 
        url('images/bg-pattern-top.svg') -20% -40% no-repeat;
    background-size: 50%, 50%;
}


.card {
    width: 440px;
    z-index: 2;

    border-radius: 5%;
    /* border : 1px solid black; */
    overflow: hidden;
}

.card header {
    /* border : 1px solid black; */
    height: 120px;
    background: url('images/bg-pattern-card.svg') no-repeat center center/cover;
}

.card section {
    position: relative;
    background: white;

    padding : 65px 0 30px 0;
    color : var(--Dark-grayish-blue);

    border-bottom: 1px solid var(--Dark-gray);
}

.card img {
    position: absolute;
    top : -65px;
    left : 170px;

    padding: 5px;
    border-radius: 50%;
    background: white;
}

.card section .container {
    width : 250px;
    margin : auto;
}

.card section .container .top {
    text-align: center;
    margin-bottom: 10px;
}

.card section .container .top h1 {
    display: inline-block;
    color : var(--Very-dark-desaturated-blue);
    font-size: var(--Font-size);
}

.card section .container .bottom {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px 0;
    background: white;
}

footer div {
    text-align: center;
}

footer div h1 {
    color : var(--Very-dark-desaturated-blue);
    font-size: var(--Font-size);
    margin-bottom: 5px;
}

footer div span {
    color : var(--Dark-grayish-blue)
}

@media(max-width : 600px) {
    .card {
        width: 430px;
    }

    .card header {
        height: 150px;
    }

    .card section {
        padding : 90px 0 60px 0;
    }

    .card img {
        top : -65px;
        left : 163px;
    }

    footer {
        padding: 40px 0;
    }
}